.article__block
    picture.article__img_main
        source.img-fluid(srcset= "img/1_ZXPmfUIwyW8RgeTChDfThg-696x348.webp" type="image/webp")
        img.img-fluid(src = "" alt!= "")
    p Поскольку объекты в #JavaScript являются ссылочными значениями, их нельзя
        |
        | просто скопировать с помощью
        |
        code.code-inline =
        | . Но не беспокойтесь, существует 3 способа клонирования
        | объекта 👍.
    pre.code-wrapper
        code.code-block
            span.key-word const
            |
            | food = { beef:
            span.string '🥩'
            | , bacon:
            span.string '🥓'
            | }
            |
            |
            span.comment // "Spread"
            |
            | { ...food }
            |
            |
            span.comment // "Object.assign"
            |
            | Object.assign({}, food)
            |
            |
            span.comment // "JSON"
            |
            | JSON.parse(JSON.stringify(food))
            |
            |
            span.comment // RESULT:
            |
            |
            span.comment // { beef: '🥩', bacon: '🥓' }
    p.article__subtitle Объекты — это ссылочные типы
    p Почему нельзя использовать
        code.code-inline =
        | ? Посмотрим, что может произойти:
    pre.code-wrapper
        code.code-block
            span.key-word const
            | obj = {one:
            span.string 1
            | , two:
            span.string 2
            | };
            |
            |
            span.key-word const
            | obj2 = obj;
            |
            | console.log(
            | obj,
            span.comment // {one: 1, two: 2};
            |
            | obj2
            span.comment // {one: 1, two: 2};
            |
            | )
    p Оба объекта выдают одно и то же. На данный момент никаких проблем. Рассмотрим,
        | что произойдет после редактирования второго объекта:
    pre.code-wrapper
        code.code-block
            span.key-word const
            | obj2.three = 3;
            |
            | console.log(obj2);
            span.comment // {one: 1, two: 2, three: 3}; <-- ✅
            |
            |
            | console.log(obj);
            span.comment // {one: 1, two: 2, three: 3}; <-- 😱
    p
        span.code-inline obj2
        |
        | был изменен, однако изменения коснулись и
        |
        span.code-inline obj
        | . Причина заключается в
        | том, что объекты являются ссылочными типами. Поэтому при использовании
        |
        span.code-inline =
        | , указатель копируется в
        | область занимаемой памяти. Ссылочные типы не содержат значений, они являются указателем
        | на значение в памяти.
    p.article__subtitle Использование Spread
    p С помощью spread можно клонировать объект. Обратите внимание, что копия
        | будет неглубокой. На момент публикации этого руководства оператор spread для клонирования
        | объектов находился на стадии 4, соответственно официально он не указан в спецификациях.
        | Поэтому для того, чтобы его использовать, нужно выполнить компиляцию с Babel
        | (или чем-то подобным).
    pre.code-wrapper
        code.code-block
            span.key-word const
            | food = { beef:
            span.string '🥩'
            | , bacon:
            span.string '🥓'
            | };
            |
            |
            span.key-word const
            | cloneFood = { ...food };
            |
            | console.log(cloneFood);
            |
            span.comment // { beef: '🥩', bacon: '🥓' }
    p.article__subtitle Использование JSON
    p Этот способ предоставляет глубокую копию. Стоит упомянуть, что это быстрый и
        | грязный способ глубокого клонирования объекта. В качестве более надежного решения
        | рекомендуется использовать что-то вроде
        |
        a.article__link(href="#") lodash
        | .
    pre.code-wrapper
        code.code-block
            span.key-word const
            | food = { beef:
            span.string '🥩'
            | , bacon:
            span.string '🥓'
            | };
            |
            |
            span.key-word const
            | cloneFood = JSON.parse(JSON.stringify(food))
            |
            | console.log(cloneFood);
            |
            span.comment // { beef: '🥩', bacon: '🥓' }
    P.article__subtitle Lodash DeepClone или JSON?
    ul.article__list
        li
            span.article_text_bold JSON.stringify/parse
            |
            | работает только с литералом Number, String и Object без функции
            | или свойства Symbol.
        li
            span.article_text_bold deepClone
            |
            | работает со всеми типами, а функция и символ копируются по ссылке.
    p Спасибо за внимание!
    p Читайте также:
    ul.article__list
        li: a.article__link(href="#") Основы JavaScript: управление DOM элементами (часть 1)
        li: a.article__link(href="#") Как JavaScript повзрослел и стал настоящим языком
        li: a.article__link(href="#") Как не лажать с JavaScript. Часть 1
    p.article__text_author Перевод статьи
        |
        |
        a.article__link(href="") Samantha Ming: 3 Ways to Clone Objects in JavaScript