.container
    header.header-main
        .d-flex.flex-wrap.text-center.align-items-center
            .col-lg-12.col-md-12.order-1.order-lg-0
                a(href="#")
                    p.page-title NUANCES OF PROGRAMING
            .col-lg-12.d-none.d-lg-block
                p.page-subtitle Anyone can code
            .col-lg-11.col-md-12.order-4.order-lg-0.col-2.order-sm-1
                nav.navigation-main
                    button(type="button").nav-toggle
                        +svg('nav-toggle__open')
                    +navBar(mainNavigation)
            +search


