block headerInner
    .header-wrapper
        .container
            header.header-main
                .d-flex.flex-wrap
                    .col-5.col-md-2.order-2.order-md-1.order-xl-0.mx-auto.mx-md-0.my-auto
                        a(href="index.html")
                            img.logo.img-fluid(src="img/logo.jpg" alt="Nuances of programming")
                    .col-2.col-md-12.col-xl-9.order-1.order-md-3.order-xl-0.d-flex.align-items-center.justify-content-md-center
                        nav.navigation-main
                            button(type="button").nav-toggle
                                +svg('nav-toggle__open')
                            +navBar(mainNavigation, false)
                    .col-2.col-lg-1.order-3.order-md-2.order-xl-0.ml-md-auto.my-auto
                        .position-relative
                            +search