.container
    header.header-main
        .row
            .col-lg-12.text-center
                a(href="https://nuances.ru")
                    p.page-title NUANCES OF PROGRAMING
                p.page-subtitle Anyone can code
            .col-lg-11.text-center
                +navBar(mainNavigation)
            .col-lg-1
                button.navigation__search(type="button")
                    i.fa.fa-search(aria-hidden="true")