.container
    .menu-toggle__wrapper.d-md-none
        .d-flex
            .col-sm-10
                ul.socials.d-flex
                    li: a(href="#" target="_blank")
                        +svg('telegram-logo')
                    li: a(href="#" target="_blank")
                        +svg('twitter-logo')
                    li: a(href="#" target="_blank")
                        +svg('vk-logo')
                +navBar(mainNavigation)
            .col-sm-2
                .menu-toggle__close
                    +svg('nav-toggle__close')