body {
  background-color: $theme-color;
}

p {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-main {
  background-color: $container-bg-color;
  padding-bottom: 40px;
  position: relative;

  .navigation-main {
    margin: 10px 0;
  }
}

.header-main .navigation-main__items {
  @include menu;
  justify-content: center;

  li {
    font-size: 18px;
    font-family: "EBGaramond-Regular", "Times New Roman", serif;
    text-transform: uppercase;
    position: relative;
    margin-right: 20px;

    &:before {
      content: "";
      display: block;
      width: 0;
      left: 50%;
      transition: width .2s ease-in-out;
      transform: translateX(-50%);
      height: 3px;
      background-color: $links-active-color;
      position: absolute;
      bottom: -16px;
    }

    &:hover:before,
    &:focus:before {
      width: 100%;
    }
  }
}

.navigation-main__items {
  li, a {
    color: $text-color;
  }
}

.nav-toggle__open,
.nav-toggle__close {
  height: 30px;
  width: 30px;
}

.search-wrapper {
  box-shadow: 0 3px 5px 0 rgba(217, 208, 217, 1);
  position: absolute;
  bottom: -70px;
  right: 15px;
  width: 350px;
  z-index: 2;
}

.search-group {
  border-top: 2px solid $links-active-color;
  position: relative;
  padding: 20px;
  background-color: #ffffff;

  &::before {
    content: '';
    position: absolute;
    right: 17px;
    top: -22px;
    border: 10px solid transparent;
    border-bottom: 10px solid $links-active-color;
    z-index: 9999;
  }

  .form-control,
  .btn-search {
    font-size: 12px;
    border-radius: 0;
    line-height: 18px;
  }

  .btn-search {
    font-family: "OpenSans-Regular", sans-serif;
    color: $secondary-text-color;
    background-color: $text-color;

    &:hover,
    &:focus {
      background-color: $links-active-color;
    }
  }
}

.no-results {
  background-color: #fdfdfd;
  text-align: center;
  font-size: 12px;
  padding: 6px;
  border-top: 1px solid #ededed;
}

.search {
  width: 20px;
  height: 20px;
}

.trends {
  padding-bottom: 30px;
  background-color: $container-bg-color;
}

.page-title,
.page-subtitle {
  font-family: "Aakar-Medium", serif;
}

.page-title {
  font-size: 75px;
  color: $text-color;
}

.page-subtitle {
  color: #444444;
  font-size: 13px;
  letter-spacing: 2px;
}

.section__wrapper {
  border-bottom: 2px solid $text-color;
  margin-bottom: 20px;
}

.section__title {
  @include article-title;
  font-size: 20px;
}

.card-trend {
  height: 300px;
  @include card-reset;
  overflow: hidden;

  .card-title {
    font-size: 15px;
    font-family: "Verdana", "Geneva", sans-serif;
    color: $secondary-text-color;
  }
}

.card-title:hover p {
  color: $links-active-color;
}

.trend__img {
  height: 100%;
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
    color: rgba(0, 0, 0, .5);
    blend-mode: overlay;
  }
  border-radius: 0;
  transition: transform 0.4s ease-in-out;
}

.card-trend:hover .trend__img {
  box-shadow: inset 0 0 50px 0 #000;
  transform: scale(1.1);
}

.section__title_bg-none {
  background-color: transparent;
  color: $text-color;
  font-size: 24px;
  font-family: "FuturaPT-Book", sans-serif;
  margin-bottom: 30px;
  padding: 0;
}

.tests {
  background-color: $theme-color;
  margin: 40px 0;
}

.see-all {
  font-size: 20px;
  font-family: "FuturaPT-Book", sans-serif;
  padding: 0;
}

.article__img {
  width: 100%;
  height: auto;
}

.card-deck .card-article {
  @include card-reset;
  margin-bottom: 15px;

  .card-title {
    font-size: 24px;
    color: $text-color;
  }

  .card-body {
    font-family: "FuturaPT-Book", sans-serif;
    font-size: 24px;
    padding: 20px 0 0;
    background-color: #edeef0;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.card-img__wrapper {
  position: relative;
  overflow: hidden;
  height: 153px;

  source,
  img {
    width: 100%;
  }
}

.card-badge {
  position: absolute;
  bottom: 0;
  color: $secondary-text-color;
  background-color: $text-color;
  left: 0;
  border-radius: inherit;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 10px;
}

.best {
  .navigation-main {
    @include menu-wrapper;
  }

  .navigation-main__items {
    @include menu;
    margin-right: 15px;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;

    li {
      font-size: 12px;
      font-family: "Verdana", "Geneva", serif;

      &:hover a {
        color: $links-active-color;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.card-title p {
  font-family: "FuturaPT-Book", sans-serif;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.3;
}

.best,
.articles {
  background-color: $container-bg-color;

  .section__title {
    @include article-title;
  }

  .card-deck .card-body {
    background-color: $container-bg-color;
  }
}

.cards__wrapper {
  margin-bottom: 15px;
}

.join-telegram {
  height: 100%;
}

.telegram__wrapper {
  background-color: $text-color;
  padding: 20px 0;

  &:hover .telegram {
    fill: $links-active-color;
  }

  .telegram-logo {
    height: 50px;
    fill: #fff;
    width: 100%;
  }
}

.articles {
  padding: 30px 0;
}

.load-more {
  border: 1px solid #c9c9c9;
  color: #c9c9c9;
  padding: 0 10px;
  display: block;
  font-size: 13px;

  &:hover {
    color: #c9c9c9;
    border: 1px solid #c9c9c9;
    background-color: $text-color;

    .chevron-down {
      fill: #c9c9c9;
    }
  }

  .chevron-down {
    width: 10px;
    height: 10px;
    fill: #c9c9c9;
    margin: auto 0 auto 5px;
  }
}

.pre-footer {
  background-color: $text-color;
  color: $secondary-text-color;
  padding: 20px 0;

  .article__title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .article__card {
    margin-bottom: 30px;

    &:hover .card__title {
      color: $links-active-color;
    }
  }

  .card__title {
    color: $secondary-text-color;
  }
}

.page-item:first-child {
  margin-right: 5px;
}

.page-item:hover {
  .page-link {
    border: 1px solid $secondary-text-color;
    color: $secondary-text-color;
    background-color: $links-active-color;
  }

  .chevron-down {
    fill: $secondary-text-color;
  }
}

.pre-footer__info a:hover {
  color: $links-active-color;
}

.page-link {
  font-size: 0;
  border: 1px solid #666666;
  color: #666666;
  padding: 7px 10px;
  background-color: transparent;
}

.page-item:first-child .chevron-down {
  transform: rotate(90deg);
}

.page-item:last-child .chevron-down {
  transform: rotate(-90deg);
}

.chevron-down {
  width: 7px;
  height: 7px;
  fill: #666666;
}

.pre-footer__info li:not(:last-child) {
  margin-bottom: 30px;
}

.pre-footer__info li a {
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 14px;
  color: $secondary-text-color;
}

.footer-main {
  background-color: #0d0d0d;
  font-family: "OpenSans-Regular", Arial, sans-serif;
  color: $secondary-text-color;
  padding: 7px 0;

  .navigation-main {
    @include menu-wrapper;
    justify-content: flex-end;
  }

  .navigation-main__items {
    @include menu;
    margin-bottom: 5px;

    li:hover a {
      color: $links-active-color;
    }

    li, a {
      text-transform: uppercase;
      font-size: 12px;
      color: $secondary-text-color;
      font-family: "OpenSans-Regular", Arial, sans-serif;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.rights {
  font-size: 13px;
}

.menu-toggle__wrapper {
  background-color: $secondary-text-color;
  padding: 20px 0;
}

.socials {
  margin-bottom: 30px;
}

.socials svg {
  width: 20px;
  height: 20px;
}

.socials li {
  margin-right: 30px;
}

.main-inner {
  background-color: $container-bg-color;
  padding: 45px 0;
}

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-main_inner-pages {
  padding: 0;
  box-shadow: 0 6px 8px 0 rgba(224, 224, 224, 0.8);
  background-color: $secondary-text-color;

  .navigation-main__items span {
    padding: 25px 14px;
  }
}

.inner__title {
  font-family: "FuturaPT-Book", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.inner__navigation {
  margin-bottom: 24px;

  .navigation-main__items {
    @include menu;

    li {
      padding: 3px 5px;
      font-family: "OpenSans-Regular", sans-serif;
      font-size: 11px;
      border: 1px solid #eaeaea;
      line-height: 1;
      margin-right: 10px;

      &:hover {
        border: 1px solid $links-active-color;
        background-color: $links-active-color;
      }

      &:hover a {
        color: $secondary-text-color;
      }
    }

    li.active {
      border: 1px solid $text-color;
      background-color: $text-color;
      color: $secondary-text-color;
    }
  }
}

.inner-page_header {
  width: 100%;
}

.inner__subtitle {
  font-size: 19px;
  line-height: 29px;
  margin-bottom: 30px;
  width: 85%;
}

.inner__filter {
  position: relative;
  width: 200px;
  text-align: right;
}

.filter-list-pulldown {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 9999;
  display: none;
  text-align: left;
}

.filter-list-pulldown,
.filter-current {
  background-color: $text-color;
}

.filter-list-pulldown a {
  color: $secondary-text-color;
  font-size: 11px;
  padding: 5px 15px;
}

.filter-list-pulldown li:hover a {
  color: $links-active-color;
}

.filter-current {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 15px;
  color: $secondary-text-color;
  cursor: pointer;
}

.filter-current:hover + .filter-list-pulldown {
  display: inline-flex;
  flex-direction: column;
}

.article__card_inner,
.article__card_aside {
  margin-bottom: 40px;

  &:hover .card-title {
    color: $links-active-color;
  }
}

.article__card_inner .card-body {
  padding: 0;
}

.article__card_inner .card-title {
  font-size: 22px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 10px;
  color: $text-color;
  text-overflow: ellipsis;
}

.article__card_inner,
.article__card_aside {
  .card-text {
    font-family: "OpenSans-Regular", sans-serif;
    color: #777;
    font-size: 13px;
    line-height: 21px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

.article__card_aside .card-text {
  -webkit-line-clamp: 5;
}

.article__card_aside .card-body {
  padding: 15px 15px 0;
}

.article__card_aside .card-title {
  font-size: 15px;
  font-family: "Roboto-Bold", sans-serif;
  line-height: 21px;
  display: inline-block;
  margin-bottom: 0;
  color: $text-color;
  text-overflow: ellipsis;
}

.aside-articles {
  position: sticky;
  top: 120px;
  z-index: 9999;
}

.up {
  width: 50px;
  height: 50px;
  background-color: $links-active-color;
  position: fixed;
  right: 5px;
  bottom: 5px;
}

///////////////////////////////

.article__info {
  font-family: "OpenSans-Regular", sans-serif;
}

.article__badge {
  display: inline-block;
  background-color: $text-color;
  color: $secondary-text-color;
  font-size: 10px;
  padding: 2px 6px;
  margin-bottom: 10px;

  &:hover {
    background-color: #353535;
    color: $secondary-text-color;
  }
}

.article__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.time__wrapper {
  margin-bottom: 40px;
}

.article__time {
  font-size: 12px;
  margin-right: 40px;
}

.article__view {
  font-size: 12px;
  position: relative;

  &:before {
    content: "";
    background-image: url("../img/symbol/svg/sprite.svg#eye");
    //background-color: red;
    background-position: top left;
    width: 15px;
    height: 11px;
    position: absolute;
    right: 17px;
    top: 4px;
    fill: #1b1e21;
  }
}

.article__img_main {
  img, source {
    margin-bottom: 30px;
  }
}

.aside-title {
  background-color: #222;
  font-family: FuturaPT-Book, Arial, sans-serif;
  color: #fff;
  display: inline-block;
  padding: 4px 15px;
  text-transform: uppercase;
  font-size: 15px;
}

.article__block p {
  margin-bottom: 21px;
}

.code-wrapper {
  background-color: #eeeeee;
  padding: 10px 10px;
}

.code-block,
.code-inline {
  font-family: "SpaceMono-Regular", monospace;
  background-color: #ECECEC;
  color: $text-color;
}

.article__block {
  p, a, code, span, ul {
    font-size: 14px;
  }
}

.code-block {
  width: 100%;
}

.code-inline {
  display: inline-block;
  padding: 0px 6px;
}

.key-word {
  color: #009999;
}

.comment {
  color: #999988;
}

.string {
  color: #dd1144;
}

.number {
  color: #009999;
}

.article__block .article__subtitle {
  color: #5076b4;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 21px;
  font-weight: 700;
}

.article__block a {
  color: $links-active-color;
}

.article__block ul {
  list-style-type: disc;
  padding-left: 15px;
  font-family: "Merriweather-Regular", sans-serif;
  margin-bottom: 21px;
}

.article_text_bold {
  font-weight: 700;
}

.article__text_author {
  font-family: "Merriweather-Italic", sans-serif;
  position: relative;
  margin-top: 70px;
  margin-bottom: 40px;

  &:before {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #777777;
    position: absolute;
    left: 50%;
    top: -32px;
  }
}

.article__tags {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid #CDCDCD;

  li {
    border: 1px solid $text-color;
    background-color: $text-color;
    color: $secondary-text-color;
    padding: 3px 5px;
    font-family: "Roboto-Bold", sans-serif;
    line-height: 1;
    margin-right: 10px;
    font-size: 10px;
  }

  a {
    color: $secondary-text-color;
  }

  li.active {
    background-color: $secondary-text-color;
    border: 1px solid #999999;
  }

  .active a {
    color: $text-color;
  }
}

.previous-article,
.next-article {
  width: 47%;
  margin-bottom: 20px;
}

.previous-title,
.next-title {
  font-size: 14px;
  color: $text-color;

  &:hover {
    color: $links-active-color;
  }
}

.previous,
.next {
  font-family: "MGillSans", sans-serif;
  font-size: 12px;
  color: #CDCDCD;
  margin-bottom: 10px;
}

.next-article {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.aside-title__wrapper {
  border-bottom: 2px solid $text-color;
  margin-bottom: 20px;
}

.aside-title__wrapper .aside-title {
  text-transform: none;
  color: $secondary-text-color;
  font-size: 15px;
}

.aside-articles__block {
  margin-bottom: 40px;
}
.aside-articles__block:last-child {
  position: sticky;
  top: 85px;
}

.aside-articles__block .card-article {
  border: 0;
  border-radius: 0;

  &:hover p {
    color: $links-active-color;
  }
}

.aside-articles__block p {
  color: $text-color;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Roboto-Regular", sans-serif;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.aside-articles__block .card-body {
  padding: 20px 0;
}

.aside-articles__block .article__cards p {
  font-size: 14px;
}

.aside-articles__block .article__cards {
  margin-bottom: 30px;
}
