body {
  background-color: $theme-color;
}

p {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-main {
  background-color: $container-bg-color;
  padding-bottom: 40px;
  position: relative;
}

.navigation-main__items {
  @include menu;

  li {
    font-size: 18px;
    font-family: "EBGaramond-Regular", "Times New Roman", serif;
    text-transform: uppercase;

    :hover span {
      border-bottom: 3px solid $links-active-color;
    }
  }

  span {
    padding: 12px;
    display: block;
  }

  .active {
    border-bottom: 3px solid $links-active-color;
  }
}

.nav-toggle__open,
.nav-toggle__close {
  height: 30px;
  width: 30px;
}

.search-wrapper {
  box-shadow: 0 3px 5px 0 rgba(217, 208, 217, 1);
  position: absolute;
  bottom: -70px;
  right: 15px;
  width: 350px;
  z-index: 2;
}

.search-group {
  border-top: 2px solid $links-active-color;
  position: relative;
  padding: 20px;
  background-color: #ffffff;


  &::before {
    content: '';
    position: absolute;
    right: 17px;
    top: -22px;
    border: 10px solid transparent;
    border-bottom: 10px solid $links-active-color;
    z-index: 9999;
  }

  .form-control,
  .btn-search {
    font-size: 12px;
    border-radius: 0;
    line-height: 18px;
  }

  .btn-search {
    font-family: "OpenSans-Regular", sans-serif;
    color: $secondary-text-color;
    background-color: $text-color;

    &:hover,
    &:focus {
      background-color: $links-active-color;
    }
  }
}

.no-results {
  background-color: #fdfdfd;
  text-align: center;
  font-size: 12px;
  padding: 6px;
  border-top: 1px solid #ededed;
}

.search {
  width: 20px;
  height: 20px;
}

.trends {
  padding-bottom: 30px;
  background-color: $container-bg-color;
}

.page-title,
.page-subtitle {
  font-family: "Aakar-Medium", serif;
}

.page-title {
  font-size: 75px;
  color: $text-color;
}

.page-subtitle {
  color: #444444;
  font-size: 13px;
  letter-spacing: 2px;
}

.section__wrapper {
  border-bottom: 2px solid $text-color;
  margin-bottom: 20px;
}

.section__title {
  @include article-title;
  font-size: 20px;
}

.card-trend {
  height: 300px;
  @include card-reset;
  overflow: hidden;

  .card-title {
    font-size: 15px;
    font-family: "Verdana", "Geneva", sans-serif;
    color: $secondary-text-color;
  }
}

.card-title:hover p {
  color: $links-active-color;
}

.trend__img {
  height: 100%;
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
    color: rgba(0, 0, 0, .5);
    blend-mode: overlay;
  }
  border-radius: 0;
  transition: transform 0.4s ease-in-out;
}

.card-trend:hover .trend__img {
  box-shadow: inset 0 0 50px 0 #000;
  transform: scale(1.1);
}

.section__title_bg-none {
  background-color: transparent;
  color: $text-color;
  font-size: 24px;
  font-family: "FuturaPT-Book", sans-serif;
  margin-bottom: 30px;
  padding: 0;
}

.tests {
  background-color: $theme-color;
  margin: 40px 0;
}

.see-all {
  font-size: 20px;
  font-family: "FuturaPT-Book", sans-serif;
  padding: 0;
}

.article__img {
  width: 100%;
  height: auto;
}

.card-deck .card-article {
  @include card-reset;
  margin-bottom: 15px;

  .card-title {
    font-size: 24px;
    color: $text-color;
  }

  .card-body {
    font-family: "FuturaPT-Book", sans-serif;
    font-size: 24px;
    padding: 20px 0 0;
    background-color: #edeef0;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden
  }
}

.card-img__wrapper {
  position: relative;
  overflow: hidden;
  height: 153px;

  source,
  img {
    width: 100%;
  }
}

.card-badge {
  position: absolute;
  bottom: 0;
  color: $secondary-text-color;
  background-color: $text-color;
  left: 0;
  border-radius: inherit;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 10px;
}

.best {

  .navigation-main__items {
    @include menu;
    vertical-align: baseline;
    margin-right: 15px;
    margin-left: auto;

    li {
      font-size: 12px;
      font-family: "Verdana", "Geneva", serif;

      :hover span {
        color: $links-active-color;
        border: 0;
      }
    }

    li:not(:last-child) {
      margin-right: 20px;
    }

    .active {
      color: $links-active-color;
    }
  }
}


.card-title p {
  font-family: "FuturaPT-Book", sans-serif;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.3;
}

.best,
.articles {
  background-color: $container-bg-color;

  .section__title {
    @include article-title;
  }

  .card-deck .card-body {
    background-color: $container-bg-color;
  }
}

.cards__wrapper {
  margin-bottom: 15px;
}

.join-telegram {
  height: 100%;
}

.telegram__wrapper {
  background-color: $text-color;
  padding: 20px 0;

  &:hover .telegram {
    fill: $links-active-color;
  }

  .telegram-logo {
    height: 50px;
    fill: #fff;
    width: 100%;
  }
}

.articles {
  padding: 30px 0;
}

.load-more {
  border: 1px solid #c9c9c9;
  color: #c9c9c9;
  padding: 0 10px;
  display: block;
  font-size: 13px;

  &:hover {
    color: #c9c9c9;
    border: 1px solid #c9c9c9;
    background-color: $text-color;

    .chevron-down {
      fill: #c9c9c9;
    }
  }

  .chevron-down {
    width: 10px;
    height: 10px;
    fill: #c9c9c9;
    margin: auto 0 auto 5px;
  }
}

.pre-footer {
  background-color: $text-color;
  color: $secondary-text-color;
  padding: 50px 0;

  .article__title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .article__card {
    margin-bottom: 30px;

    &:hover .card__title {
      color: $links-active-color;
    }
  }

  .card__title {
    color: $secondary-text-color;
  }

  .page-item &:first-child {
    margin-right: 5px;
  }

  .page-item:hover {
    .page-link {
      border: 1px solid $secondary-text-color;
      color: $secondary-text-color;
      background-color: $links-active-color;
    }

    .chevron-down {
      fill: $secondary-text-color;
    }
  }
}

.pre-footer__info a:hover {
  color: $links-active-color;
}

.page-link {
  font-size: 0;
  border: 1px solid #666666;
  color: #666666;
  padding: 7px 10px;
  background-color: transparent;
}

.page-item:first-child .chevron-down {
  transform: rotate(90deg);
}

.page-item:last-child .chevron-down {
  transform: rotate(-90deg);
}

.chevron-down {
  width: 7px;
  height: 7px;
  fill: #666666;
}

.pre-footer__info li {
  margin-bottom: 50px;

  a {
    font-family: "Verdana", "Geneva", sans-serif;
    font-size: 16px;
    color: $secondary-text-color;
  }
}

.footer-main {
  background-color: #0d0d0d;
  font-family: "OpenSans-Regular", Arial, sans-serif;
  color: $secondary-text-color;
  padding: 15px 0;

  .navigation-main {
    @include menu;
    float: right;
  }

  .navigation-main__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    li {
      margin-right: 20px;
    }

    span, li {
      text-transform: uppercase;
      font-size: 14px;
      color: $secondary-text-color;
      padding: 0;
      font-family: "OpenSans-Regular", Arial, sans-serif;
    }

    li:hover a > span {
      color: $links-active-color;

      &:hover {
        border: 0;
      }
    }
  }

  .rights {
    font-size: 13px;
  }
}

.menu-toggle__wrapper {
  background-color: $secondary-text-color;
  padding: 20px 0;
}

.socials {
  margin-bottom: 30px;
}

.socials svg {
  width: 20px;
  height: 20px;
}

.socials li {
  margin-right: 30px;
}