@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
  .page-title {
    font-size: 67px;
  }

  .section__title_bg-none {
    margin-bottom: 15px;
  }

  .card-img__wrapper {
    height: 123px;
  }

  .nav-toggle {
    display: none;
  }

  .pre-footer__info li:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .page {
    background-color: $secondary-text-color;
  }

  .page-title {
    font-size: 40px;
  }

  .header-main {
    padding: 20px 0;

    .navigation-main__items li {
      font-size: 16px;
    }

    .navigation-main__items span {
      padding: 9px;
    }
  }

  .section__title {
    font-size: 16px;
  }

  .section__title_bg-none {
    font-size: 20px;
  }

  .card-img__wrapper {
    height: auto;
  }

  .best,
  .articles {
    .card-title {
      font-size: 18px;
    }
  }

  .card-deck .card {
    margin-bottom: 15px;
  }

  .card-deck .card-article .card-body {
    padding: 5px 0 0;
  }

  .pre-footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .pre-footer li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .header-main {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .header-main .navigation-main {
    margin-bottom: 10px;
  }
  .nav-toggle {
    display: block;
    padding: 0;
    margin: 0;
  }

  .best,
  .footer-main {
    .nav-toggle {
      display: none;
    }
  }

  .menu-toggle__wrapper {
    height: 100vh;

    .nav-toggle {
      display: none;
    }

    .navigation-main__items {
      display: flex;
      flex-direction: column;

      li {
        font-family: "OpenSans-Regular", sans-serif;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .active {
        border: 0;
        color: $links-active-color;
      }

      span {
        padding: 0;

        &:hover {
          border: 0;
          color: $links-active-color;
        }
      }
    }
  }

  .header-main .navigation-main__items {
    display: none;
  }

  .nav-toggle__close,
  .nav-toggle__open {
    height: 25px;
    width: 25px;
  }

  .best .navigation-main__items {
    display: none;
  }

  .trends {
    padding-top: 20px;
  }

  .telegram__wrapper {
    padding: 10px 0;
    display: block;

    .telegram-logo {
      height: 33px;
    }
  }

  .pre-footer__info {
    display: block;


    .pre-footer {
      padding: 10px 0;
    }

    .rights {
      line-height: 1;
      font-size: 12px;
    }

    .articles .section__wrapper {
      margin: 0;
    }
  }
}

@media (max-width: 575px) {
  .card-deck {
    padding: 0;
  }

  .best {
    padding: 15px 0;
  }

  .telegram__wrapper {
    display: none;
  }

  .articles {
    padding: 0;
  }

  .card-deck .card-article .card-title {
    font-size: 16px;
  }

  .cards__wrapper {
    margin-bottom: 8px;
  }

  .button__wrapper {
    margin-bottom: 15px;
  }
}

//@media (max-width: 509px) {
//
//}
//
//@media (max-width: 479px) {
//
//}

//@media (max-width: 374px) {
//}
