$font-path: '../fonts';

// === COLORS ===
$text-color: #222222;
$secondary-text-color: #ffffff;
$theme-color: #edeef0;
//$secondary-color: ;
//$ternary-text-color: ;
$container-bg-color: #ffffff;

// === FONTS ===

// === SIZES ===