.article-block_big {
    background-color: #fff;
}

.big-head_padding {
    padding: 55px;
}

.article-block_big .big-head p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.nav-head li {
    list-style-type: none;
    border-bottom: none;
    display: inline-block;
}

.nav-head a {
    text-decoration: none;
}

.nav-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.big-head .nav__items span {
    color: #222;
    font-family: Verdana, Geneva, sans-serif;
    border: 1px solid #999;
    padding: 2px 8px;
    font-size: 12px;
}

.big-head .nav__items .active {
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    border: 1px solid #222;
    padding: 2px 8px;
    font-size: 12px;
    background-color: #222;
}

.nav__items li:hover span {
    border-bottom: 1px solid #888;
    display: block;
    padding: 2px 8px;
}

.nav__items li:hover span, .big-head .nav__items .active:hover {
    background-color: #4b77be;
    color: #fff;
    border: 1px solid #4b77be;
}

.big-head_padding .button-more {
    padding: 5px 16px;
    background-color: #222222;
    color: white;
    font-size: 12px;
    margin: 0;
}

.big-head_padding .head p:last-child {
    font-size: 21px;
    font-family: Roboto-Regular, sans-serif;
    line-height: 29px;
    margin-bottom: 40px;
}

.buttom-more_hover li {
    background-color: #222;
    list-style-type: none;
    padding: 4px 0;
}

.buttom-more_hover a {
    text-decoration: none;
    color: #fff;
}

.buttom-more_hover span {
    padding: 5px 16px;
}

.button-more ul {
    position: absolute;
}

.button-more+ul {
    display: none;
}

.button-more:hover+ul {
    display: block;
}