extends layouts/_article

block pageTitle
    | Lorem ipsum
block main
    main.main-content
        .container
            a(id="up")
                .main-inner.main-inner_article
                    .row.mx-0
                        .col-md-12
                            .article__info.d-flex.align-items-center.flex-column
                                a(href="#").article__badge Web Dev
                                p.article__title.text-center 3 способа клонирования объектов в JavaScript
                                .time__wrapper.d-flex
                                    p.article__time
                                        time(datetime="") 19.11.2019
                                    +svg('eye')
                                    p.article__view 14
                        .col-md-8
                            include partials/_article-content
                            ul.article__tags
                                li Tеги
                                li.active: a(href="#") Javascript
                            +socials
                            .more-articles.d-flex.justify-content-between
                                .previous-article
                                    p.previous Предыдущая статья
                                    a(href="#").previous-title 4 golang-сниппета, которые вводят в заблуждение разработчиков C#!
                                .next-article
                                    p.next Следующая статья
                                    a(href="#").next-title Создаем чат-бот в Python с помощью nltk
                        .col-md-4
                            aside.aside-articles__block
                                .aside-title__wrapper
                                    p.aside-title Читайте также
                                +asideArticleMain(articlesWeb[0].title,articlesWeb[0].srcset,articlesWeb[0].href,articlesWeb[0].src)
                                +asideArticle(preFooterArticles)
                                +pagination
                            aside.aside-articles__block
                                .aside-title__wrapper
                                    p.aside-title Тесты
                                +asideArticleMain(allArticles[0].title,allArticles[0].srcset,allArticles[0].href,allArticles[0].src)
                                +asideArticle(preFooterArticles)
                    a(href="#up").up.d-none.d-md-block
                        +svg('chevron-down')