extends layouts/_base
block title
    | NOP
block content
    include partials/_header
    main.main-content
        .container
            section.trends
                .section__wrapper
                    p.section__title Trending now
                .d-flex.flex-wrap
                    +cardImageOverlay(trendsArticles)
        section.tests
            .container
                .d-flex
                    .col-6
                        p.section__title.section__title_bg-none Last tests
                    .col-6.text-right
                        a(href="#").see-all See all
                            +svg('arrow')
                +card(articlesMain)
        .container
            section.best
                .section__wrapper
                    .row
                        .col-md-3
                            p.section__title Best of the week
                        .col-md-9
                            nav.navigation-main
                                +navBar(mainNavigation)
                +card(bestOfTheWeek)
        .container
            section.join-telegram
                a(href="#" target="_blank")
                    .telegram__wrapper
                        +svg('telegram-logo')
        .container
            section.articles
                .section__wrapper
                    p.section__title All articles
                .cards__wrapper
                    +card(allArticles)
                .button__wrapper
                    button.load-more.mx-auto(type="button") Load more
                        +svg('chevron-down')