extends layouts/_inner-page
block pageTitle
    | Web dev
block main
    main
        .container
            a(id="up")
                .main-inner
                    .row.mx-0
                        +pageCaption(mainNavigation[1].title, mainNavigation[1].description)
                        .col-lg-8.pr-5
                            +innnerArticle(articlesWeb)
                        .col-lg-4
                            aside.aside-articles
                                +asideArticle(articlesAside)
        a(href="#up").up
            +svg('chevron-down')