extends layouts/_inner-page
block pageTitle
    | Web dev
block main
    main.main-content
        .container
            .main-inner
                .row.mx-0
                    +pageCaption(mainNavigation[1].title, mainNavigation[1].description)
                    .col-md-8.pr-lg-5.pr-3
                        +innnerArticle(articlesWeb)
                    .col-md-4.d-none.d-md-block
                        aside.aside-articles
                            +asideArticle(articlesAside)
        a(href="#up").up
            +svg('chevron-down')

