- const title = "Nuances of programing";
- const imgPath = "img/"

 -
     const headerMenu = [
         {
             url: "#",
             title: "Home",
             active: true,
         },
         {
             url: "#",
             title: "Web dev",
         },
         {
             url: "#",
             title: "Computer science",
         },
         {
             url: "#",
             title: "Learning",
         },
         {
             url: "#",
             title: "Other",
         },
         {
             url: "#",
             title: "Tests",
         },
     ];

-
    const trendsArticles = [
        {
            src: imgPath +"python.jpg",
            title: "Изучение Python: от нуля до мастера",
            alt: "Изучение Python: от нуля до мастера",
        },
        {
            src: imgPath +"angular.png",
            title: "ReactJS, Angular5 и Vue.js — какой фреймворк выбрать в 2018",
            alt: "ReactJS, Angular5 и Vue.js — какой фреймворк выбрать в 2018",
        },
        {
            src: imgPath +"java.jpg",
            title: "Собеседование Java разработчика. Наиболее Часто Задаваемые Вопросы",
            alt: "Собеседование Java разработчика. Наиболее Часто Задаваемые Вопросы",
        },
        {
            src: imgPath +"js.jpg",
            title: "Эти JavaScript-методы всего за несколько минут прокачают ваши навыки",
            alt: "Эти JavaScript-методы всего за несколько минут прокачают ваши навыки",
        },
    ];

-
    const articlesMain = [
        {
            href: "#",
            src: imgPath +"developer-324x160.jpg",
            title: "Изучение Python: от нуля до мастера",
            alt: "Изучение Python: от нуля до мастера",
            badge: "Tests",
        },
        {
            href: "#",
            src: imgPath +"algorithm-324x160.jpg",
            title: "Насколько хорошо вы знакомы с основами C?",
            alt: "Насколько хорошо вы знакомы с основами C?",
            badge: "Tests",
        },
        {
            href: "#",
            src: imgPath +"react_feature_img-324x160.jpg",
            title: "Насколько хорошо вы знаете React?",
            alt: "Насколько хорошо вы знаете React?",
            srcset: imgPath +"react_feature_img-324x160.webp",
            badge: "Tests",
        },
    ];
-
    const sectionTitle = [
        {
            name: "TRENDING NOW",
        },
    ];