- const imgPath = "img/"

-
    const mainNavigation = [
        {
            url: "index.html",
            title: "Home",
            active: true,
        },
        {
            url: "web-dev.html",
            title: "Web Dev",
            description: "Все что касается web development: Front end, Back end, Full stack; HTML, CSS, JavaScript, " +
            "фреймворки, технологии, безопасность и многое другое!",
        },
        {
            url: "web-dev.html",
            title: "Dev",
            description: "Все что касается разработки ПО: образовательные статьи, тренды, технологии, языки, " +
            "фреймворки и многое другое!"
        },
        {
            url: "web-dev.html",
            title: "Computer science",
            description: "Всё что касается Computer Science: алгоритмы и структуры данных, Искусственный " +
            "Интеллект, анализ данных и многое другое!",
        },
        {
            url: "web-dev.html",
            title: "Learning",
            description: "Cоветы для начинающих, истории взлетов и падений от лучших разработчиков отрасли, " +
            "интервью с экспертами индустрии и многое другое!",
        },
        {
            url: "web-dev.html",
            title: "Other",
            description: "Тренды, технологии, истории взлетов и падений от лучших разработчиков отрасли, " +
            "интервью с экспертами индустрии и многое другое!"
        },
        {
            url: "web-dev.html",
            title: "Tests",
        },
    ];

-
    const trendsArticles = [
        {
            title: "Изучение Python: от нуля до мастера",
            href: "#",
            src: imgPath +"Python.webp",
            srcset: "",
        },
        {
            title: "ReactJS, Angular5 и Vue.js — какой фреймворк выбрать в 2018",
            href: "#",
            src: imgPath +"angular.png",
            srcset: "",
        },
        {
            title: "Собеседование Java разработчика. Наиболее Часто Задаваемые Вопросы",
            href: "#",
            src: imgPath +"java.webp",
            srcset: "",
        },
        {
            title: "Эти JavaScript-методы всего за несколько минут прокачают ваши навыки",
            href: "#",
            src: imgPath +"js.webp",
            srcset: "",
        },
    ];

-
    const articlesMain = [
        {
            title: "Изучение Python: от нуля до мастера",
            href: "#",
            src: imgPath +"developer-324x160.jpg",
            srcset: "",
            badge: "Tests",
        },
        {
            title: "Насколько хорошо вы знакомы с основами C?",
            href: "#",
            src: imgPath +"algorithm-324x160.jpg",
            srcset: "",
            badge: "Tests",
        },
        {
            title: "Насколько хорошо вы знаете React?",
            href: "#",
            src: imgPath +"react_feature_img-324x160.webp",
            srcset: "",
            badge: "Tests",
        },
    ];

-
    const bestOfTheWeek = [
        {
            title: "Делаем Node.js быстрым: инструменты, техники и советы для создания эффективных серверов",
            href: "#",
            src: imgPath +"1_rpwHvAvz7xaeBS4g-YrdeA-324x160.png",
            srcset: "",
        },
        {
            title: "Преимущества использования препроцессора (Sass) при написании CSS",
            href: "#",
            src: imgPath +"1_piklJM4d7ivMmK55oC9XTg-324x160.jpg",
            srcset: imgPath +"1_piklJM4d7ivMmK55oC9XTg-324x160.webp",
        },
        {
            title: "Графы и пути: Алгоритм Брона-Кербоша, максимальные группы",
            href: "#",
            src: imgPath +"1_m2UXRqHpxfcKCcCPvwzg3w-324x160.gif",
            srcset: "",
        },
        {
            title: "Графы и пути: Алгоритм Брона-Кербоша, максимальные группы",
            href: "#",
            src: imgPath +"1_rpwHvAvz7xaeBS4g-YrdeA-324x160.png",
            srcset: "",
        },
        {
            title: "JavaScript Style Guide от Google. 13 примечательных рекомендаций",
            href: "#",
            src: imgPath +"1_LAiJPBst4nHrjpG9jez1xA-324x160.jpg",
            srcset: imgPath +"1_LAiJPBst4nHrjpG9jez1xA-324x160.webp",
        },
        {
            title: "Как создавать анимированные графы в Python",
            href: "#",
            src: imgPath +"1_j0LxVQPbwtQDpL17TH9gZw-324x160.png",
            srcset: "",
        },
    ];
-
    const allArticles = [
        {
            title: "Повторное использование UI в Android - 5 главных ошибок",
            href: "#",
            src: imgPath +"1_rpwHvAvz7xaeBS4g-YrdeA-324x160.png",
            srcset: "",
            badge: "Web dev",
        },
        {
            title: "10 лучших фреймворков Node.js",
            href: "#",
            src: "#",
            srcset: imgPath +"1__rHVCnnoD5x9t7D8KW2y2w-324x160.webp",
            badge: "Other",
        },
        {
            title: "Много узлов, одна распределенная система",
            href: "#",
            src: imgPath +"1_kcrrW9lsA1E5j99YkVJEZA-324x160.jpeg",
            srcset: "",
            badge: "Web dev",
        },
        {
            title: "Как создать и развернуть бота для Twitter при помощи Python, Tweepy и PythonAnywhere",
            href: "#",
            src: imgPath +"449-324x160.jpg",
            srcset: "",
            badge: "Dev",
        },
        {
            title: "Цикл For…of в JavaScript",
            href: "#",
            src: imgPath +"1_VD7Q8-bPlQwRRET1Rh5jKg-324x160.jpg",
            srcset: imgPath +"1_VD7Q8-bPlQwRRET1Rh5jKg-324x160.webp",
            badge: "Web dev",
        },
        {
            title: "Почему вы должны обратить внимание на Docker?",
            href: "#",
            src: imgPath +"1_9hGvYE5jegHm1r_97gH-jQ-324x160.png",
            srcset: "",
            badge: "Tests",
        },
        {
            title: "Рекурсивное программирование",
            href: "#",
            src: imgPath +"1_lHuYiIdrPIUllmDOJYRZTw-324x160.png",
            srcset: "",
            badge: "Computer science",
        },
        {
            title: "Что такое Редьюсеры: Как использовать их без Redux",
            href: "#",
            src: imgPath +"1_E-YllkF85uyOUPxYA0454g-324x160.jpg",
            srcset: imgPath +"1_E-YllkF85uyOUPxYA0454g-324x160.webp",
            badge: "Tests",
        },
        {
            title: "Какие языки программирования лучше учить в 2019 году",
            href: "#",
            src: imgPath +"1_SeMZ0Gh_yJrgF7uLki1YzQ-324x160.jpg",
            srcset: "",
            badge: "Leaning",
        },
    ];

-
    const preFooterArticles = [
        {
            title: "Хотите стать счастливым и продуктивным программистом? Используйте эти 5 методов из Психологии!",
            href: "#",
            src: "#",
            srcset: imgPath +"0_PtJi89nQa5xopLnn-696x462.webp",
            badge: "Web dev",
            active: true,
        },
        {
            title: "Почему нужно учить больше язиков програмирования",
            href: "#",
            src: "#",
            srcset: imgPath +"blog-image.webp",
            badge: "Web dev",
        },
    ];

-
    const articlesWeb = [
        {
            title: "3 способа клонирования объектов в JavaScript",
            href: "article.html",
            src: "#",
            srcset: imgPath +"1_ZXPmfUIwyW8RgeTChDfThg-218x150.webp",
            text: "Поскольку объекты в #JavaScript являются ссылочными значениями, их нельзя просто скопировать " +
            "с помощью =. Но не беспокойтесь, существует 3 способа клонирования объекта 👍",
        },
        {
            title: "Компоненты высшего порядка в React",
            href: "#",
            src: "#",
            srcset: imgPath +"1_0fo4LLhFgxrhLTugpFdsmg-218x150.webp",
            text: "В этой статье мы рассмотрим компоненты высшего порядка (Higher-Order Components, HOC) в React. Что такое HOC?",
        },
        {
            title: "Увеличиваем производительность приложения React + Redux с библиотекой Reselect",
            href: "#",
            src: "#",
            srcset: imgPath +"1_LOKZtk0AIeKpQwSl2B_HDw-218x150.webp",
            text: "Селекторы — это очень простой способ выбрать состояние из хранилища redux, которое содержит всю логику и данные приложения." +
            "Если вы создаёте приложение с помощью React и Redux, от использования селекторов вы только выиграете.",
        },
        {
            title: "6 концептов книги Эндрю Ына «Жажда машинного обучения»",
            href: "#",
            src: "#",
            srcset: imgPath +"1_vMqzJZa-Qh9zxSvR0I_vKQ-218x150.webp",
            text: "“Техническая стратегия для инженеров-разработчиков искусственного интеллекта в эпоху глубокого " +
            "обучения”",
        },
        {
            title: "6 концептов книги Эндрю Ына «Жажда машинного обучения»",
            href: "#",
            src: "#",
            srcset: imgPath +"1_vMqzJZa-Qh9zxSvR0I_vKQ-218x150.webp",
            text: "“Техническая стратегия для инженеров-разработчиков искусственного интеллекта в эпоху глубокого " +
            "обучения”",
        },
        {
            title: "Какой язык программирования выбрать в 2019?",
            href: "#",
            src: "#",
            srcset: imgPath +"1_i3LejSB9HuxLuLfG0bIcVA-218x150.jpeg",
            text: "Благодаря интернету весь мир имеет доступ к ресурсам для обучения программированию: как платным," +
            " так и бесплатным. Каждый щелчок мыши ведёт к новой статье, новому уроку или видео. И это создает " +
            "определенные проблемы.",
        },
        {
            title: "Руководство по SQL: Как лучше писать запросы",
            href: "#",
            src: "#",
            srcset: imgPath +"0_zaI1WPqkM52wDdC--218x150.webp",
            text: "Язык структурированных запросов – SQL, является незаменимым навыком в области науки о данных " +
            "и, вообще говоря, приобрести этот навык довольно просто. Однако большинство забывают, что в " +
            "написание запросов SQL – это только первый шаг. Обеспечение выполнения запросов в соответствии " +
            "с требуемым контекстом – это уже совсем другое",
        },
        {
            title: "Почему искусственный интеллект никогда не захватит мир?",
            href: "#",
            src: "#",
            srcset: imgPath +"6-7-2018-AivsHuman-copy-218x150.webp",
            text: "Я не присваиваю себе идею о том, что ИИ (в самом расцвете сил) сделает из людей второсортных " +
            "рабочих и создаст грубый дисбаланс на рынке труда. Я не отрицаю угрозы, которую он представляет, " +
            "но считаю, что люди будут хорошо подготовлены, чтобы преодолеть любые проблемы, которые может " +
            "принести искусственный интеллект.",
        },
        {
            title: "8 способов “настроить” Data-команду на успех. Часть первая",
            href: "#",
            src: "#",
            srcset: imgPath +"1_nwsvTRU-p_yD8-TEox6oAg-218x150.webp",
            text: "Мы живем в золотой век Data-ориентированных организаций. Алгоритмы! Большие Данные! У вас" +
            " вероятно, даже есть Data Scientist в штате или два! Но",
        },
    ];

-
    const articlesAside = [
        {
            title: "6 концептов книги Эндрю Ына «Жажда машинного обучения»",
            href: "#",
            src: "#",
            srcset: imgPath +"1_vMqzJZa-Qh9zxSvR0I_vKQ-218x150.webp",
            text: "“Техническая стратегия для инженеров-разработчиков искусственного интеллекта в эпоху глубокого " +
            "обучения”",
        },
        {
            title: "Какой язык программирования выбрать в 2019?",
            href: "#",
            src: "#",
            srcset: imgPath +"1_i3LejSB9HuxLuLfG0bIcVA-218x150.jpeg",
            text: "Благодаря интернету весь мир имеет доступ к ресурсам для обучения программированию: как платным," +
            " так и бесплатным. Каждый щелчок мыши ведёт к новой статье, новому уроку или видео. И это создает " +
            "определенные проблемы.",
        },
        {
            title: "Руководство по SQL: Как лучше писать запросы",
            href: "#",
            src: "#",
            srcset: imgPath +"0_zaI1WPqkM52wDdC--218x150.webp",
            text: "Язык структурированных запросов – SQL, является незаменимым навыком в области науки о данных " +
            "и, вообще говоря, приобрести этот навык довольно просто. Однако большинство забывают, что в " +
            "написание запросов SQL – это только первый шаг. Обеспечение выполнения запросов в соответствии " +
            "с требуемым контекстом – это уже совсем другое",
        },
        {
            title: "Почему искусственный интеллект никогда не захватит мир?",
            href: "#",
            src: "#",
            srcset: imgPath +"6-7-2018-AivsHuman-copy-218x150.webp",
            text: "Я не присваиваю себе идею о том, что ИИ (в самом расцвете сил) сделает из людей второсортных " +
            "рабочих и создаст грубый дисбаланс на рынке труда. Я не отрицаю угрозы, которую он представляет, " +
            "но считаю, что люди будут хорошо подготовлены, чтобы преодолеть любые проблемы, которые может " +
            "принести искусственный интеллект.",
        },
        {
            title: "8 способов “настроить” Data-команду на успех. Часть первая",
            href: "#",
            src: "#",
            srcset: imgPath +"1_nwsvTRU-p_yD8-TEox6oAg-218x150.webp",
            text: "Мы живем в золотой век Data-ориентированных организаций. Алгоритмы! Большие Данные! У вас" +
            " вероятно, даже есть Data Scientist в штате или два! Но",
        },
    ];